<ion-header>
  <ion-navbar>
    <ion-title>
      "Mądra" Doniczka
      <ion-icon name="information-circle" style="float: right;" (click)="showCredits()"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card [style.display]="(chartData.length > 0) ? 'block' : 'none' ">
    <ion-card-header>
      Wykres pomiaru wilgotności temperatury 
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas height="300"></canvas>
    </ion-card-content>
  </ion-card>

  <h4 *ngIf="btEnabled != true">
    Włącz Bluetooth'a Olcyk
    <button ion-button block (click)="enableBt()">Włącz</button>
  </h4>

  <div *ngIf="btEnabled == true">
    <div *ngIf="connectedDevice == null">
      <h3>Lista doniczek Bluetooth, Ola wybierz sobie którą doniczkę chcesz obczajać :) </h3>
      <br><br>

      <ion-list>
        <button *ngFor="let item of devices" (click)="deviceSelected(item)" ion-button block color="light" style="margin-bottom: 20px;">
          {{ item.name }}
        </button>  
      </ion-list>
    </div>

    <div *ngIf="connectedDevice != null">

      <div *ngIf="showLevelSettings">
        <h4>Podlewanie sensoryczne</h4>
        <p>Automatyczne podlewaj w momencie gdy wilgotność spadnie poniżej zdefiniowanej wartości</p>

        <ion-item>
          <ion-label stacked>Podlewaj od poziomu</ion-label>
          <ion-input type="number" min="1" max="99" [(ngModel)]="configLevel"></ion-input>
        </ion-item>

        <button ion-button small color="light" (click)="hideSettings()">Anuluj</button>
        <button ion-button small color="secondary" (click)="saveConfigLevel()">Zapisz</button>
        <hr>
        <br>
      </div>

      <ion-fab bottom right>
        <button ion-fab mini><ion-icon name="settings"></ion-icon></button>
        <ion-fab-list side="left">
          <button (click)="showSettings('level')"><ion-icon name="thermometer"></ion-icon> Podlewanie sensoryczne</button>
        </ion-fab-list>
      </ion-fab>

      <br/>
      <button ion-button small color="danger" (click)="disconnect()">Rozłącz urządzenie</button>
      <button ion-button small color="secondary" (click)="downloadArchiveData()">Pobierz dane</button>
      <button ion-button small (click)="stopGettingDataFromDevice()" *ngIf="dataRetrivalInterval != null">Zatrzymaj</button>
      <button ion-button small (click)="startGettingDataFromDevice()" *ngIf="dataRetrivalInterval == null">Dane real-time</button>
      <button ion-button small color="dark" (click)="waterPlant()" >Podlej teraz!</button>
      <br/>

      <p><strong>Połączono z {{ connectedDevice.name }}</strong></p>
      <br><br>


      <ion-card>
        <ion-card-header style="text-align: center">
          <strong>Pomiary wilgotności ziemi real-time</strong>
        </ion-card-header>

        <ion-list *ngIf="deviceData.length <= 0">
          <button ion-item>
            Brak pomiarów, kliknij 'Dane real-time'
          </button>
        </ion-list>

        <ion-list *ngFor="let d of deviceData">
          <button ion-item>
            <ion-icon name="flower" item-start></ion-icon>
            {{ d.value }}% <span style="float: right; padding-right: 10px">{{ d.date | date:'HH:mm:ss' }}</span>
          </button>
        </ion-list>
      </ion-card>

    </div>

  </div>

</ion-content>
